#carousel-slide {
    position: relative;
    height: 500px;
    width: 312px;
    margin: 50px auto;
    overflow: hidden;

    .img-stage {
        position: relative;
        top: 0;
        left: 0;
        width: 2500px;
        height: 100%;


        .img-wrapper {
            float: left;
            width: 312px;
            height: 500px;
        }
    }

    .indicator {
        position: absolute;
        z-index: 1;
        bottom: 20px;
        left: 50%;
        width: 100px;
        height: 20px;
        margin-left: -50px;

        .dot {
            display: block;
            float: left;
            width: 20px;
            height: 20px;

            &::before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                margin: 6px 0 6px;
                border: 1px solid #ededed;
                border-radius: 50%;
                cursor: pointer;
            }

            &.active::before {
                background-color: #fff;
            }
        }
    }
}